body{
    font-family: "din-2014-rounded-variable",sans-serif;
    font-variation-settings: 'wght' 400;
    font-size: 24;
    color: #7A0F9C;
    background-color: #fff ;
    padding: 12px;
    margin: 12px;
}

.background-color-lily {
background-color : #E5DDFB; /couleur lily
}

.background-color-bea {
    background-color: #FDEFDF; /couleur bea
}

.background-color-freeze {
    background-color: #E1E1E3; /couleur freeze
}